body{
    background-image: url(https://pro2-bar-s3-cdn-cf3.myportfolio.com/020137ee8a4fe5a2f12b49a15b16499f/e6ddf7cc-159e-46c6-8d15-73f369a0e812_rw_3840.jpg?h=b649c4b290c12e7a2d12512a11cc0114);
    background-size: 100% 120vh;
    background-repeat: no-repeat;
    color: whitesmoke
}

h1{
    text-align: center;
    padding-top: 10%;
}

a{
    display: inline-block;
    padding: 10px;
    color: whitesmoke;
    text-decoration: none;
}

.background{
    display: block;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding:10px;
    border: whitesmoke solid;
}

.project{
    color: yellowgreen;
}