*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(/images/SPRTT1N.jpg);
    color: antiquewhite;
    background-repeat: no-repeat;
    background-size: 100% 100vh;
}

ul{
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;

}

a{
    display: block;
    padding: 10px;
    color: antiquewhite;
    text-decoration: none; 
    float: right;
}

h1{
    padding-left: 5%;
    color: whitesmoke; 
    padding-top: 40px;  
}

.likes{
    display: grid;
    padding-right: 60%;
    line-height: 3;
}

.home{
    background-image: url()
}
