*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(https://images.unsplash.com/photo-1482859454392-1b5326395032?ixlib=rb-0.3.5&s=d6626ed12958a5995efb9725bd15db91&w=1000&q=80);
    color: whitesmoke;
    background-size: 100% 100vh;
    background-repeat: no-repeat;
}
 
ul{
    display: block;
    height: 50px;
    background-size: cover;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}    


li {
    float: left;
    padding-top: 10px;
}

li a{
    display: block;
    padding: 10px;
}

a{
    text-decoration: none;
    color: aliceblue;
}

h1{
    text-align: center; 
    font-size: 45px;
}
   
.circular{
    display: block; 
    position: relative; 
    width: 150px;
    height: 150px;
    overflow: hidden; 
    border-radius: 75%;
    margin-left: auto;
    margin-right: auto; 
    margin-top: 10%;
}



.circular img{
    width: auto;
    height: 100%;
    margin-left: -20px;
}

footer{
    display: block;
    margin-top: 13%;
    padding-right: 10px; 
    float: right;
    color: wheat;
}


